# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db